{% extends 'base.html.twig' %}

{% block title %}Hello GroupeController!{% endblock %}

{% block container %}

    {% include '_layout/_desktop/nav.html.twig' %}
    <div class="header-margin"></div>

    <main class="main-groupe wrapper-1200">
        {% include '_layout/_desktop/sideNav.html.twig' %}
        <div class="groupe-container">

        <div class="publication-scroll-header">
            <div id="filter-modal" class="filter-div">
{#                <p>Filtrer<i class="fa-solid fa-caret-down"></i></p>#}
                <div class="modal-filtre-publication">
                    <li>Popularité</li>
                    <li>Ancienneté</li>
                    <li>Nouveauté</li>
                </div>
            </div>

            <a class="dark-round" href="{{path('app_groupe_new')}}">Créer un groupe <i class="fa-solid fa-plus"></i></a>
        </div>
            {% for groupe in groupes %}
                <div class="groupe-card">
                    <div class="groupe-image">
                        <img src="{{asset('/uploads/' ~ groupe.image)}}" alt="">
                    </div>
                    <p><a href="{{ path('app_groupe_show', {slug: groupe.slug, id: groupe.id}) }}">{{ groupe.intitule }}</a></p>
                    <p class="dark-round">
                        <a href="{{path('app_groupe_rejoindre', {id: groupe.id}) }}">Rejoindre ce groupe</a>
                        <i class="fa-solid fa-right-to-bracket"></i>
                    </p>
                </div>
            {% endfor %}
        </div>
{#        {% include '_layout/_desktop/tchat.html.twig' %}#}
    </main>

{# <a href="{{path('app_groupe_new')}}" class="btn btn-primary">Créer un groupe</a> #}

{% block javascript %}
<script>
   // Sélectionne l'élément i qui doit activer la modal
const filterButton = document.querySelector("#filter-modal i");

// Sélectionne l'élément de la modal
const filterModal = document.querySelector("#filter-modal .modal-filtre-publication");

// Ajoute un écouteur d'événements sur le bouton pour afficher la modal
filterButton.addEventListener("click", function() {
  filterModal.style.display = "block";
});

// Ajoute un écouteur d'événements à l'ensemble du document pour masquer la modal lorsqu'on clique ailleurs
document.addEventListener("click", function(event) {
  if (!filterModal.contains(event.target) && event.target !== filterButton) {
    filterModal.style.display = "none";
  }
});

console.log('hello')
</script>
{% endblock %}

{% endblock %}