{% extends 'base.html.twig' %}

{% block title %}Hello GroupeController!{% endblock %}

{% block container %}

{% include '_layout/_desktop/nav.html.twig' %}
<div class="header-margin"></div>

<main class="main-show-groupe wrapper-1200">
{% include '_layout/_desktop/sideNav.html.twig' %}

    <section class="groupe-show-container">
{#        <h2>{{groupe.intitule}}</h2>#}
{#        <p>Créer le : {{groupe.createdAt | date('Y/m/d')}}</p> <p>Créateur : {{groupe.user}}</p>#}
        <div id="membres" class="publication-scroll-header">
            <a class="dark-round" href="{{ path('app_publication_groupe', {'groupId': groupe.id}) }}">Créer une publication pour ce groupe</a>
{#            <h3>Membres du groupe:</h3>#}
{#            {% if groupe.adherentsGroupe == null %}#}
{#                <p>Aucun membre pour le moment</p>#}
{#            {% else %}#}
{#                <ul>#}
{#                    {% for membre in groupe.adherentsGroupe %}#}
{#                        <li>{{ membre.prenom }} {{ membre.nom }}</li>#}
{#                    {% endfor %}#}
{#                </ul>#}
            <a class="dark-round" href="{{ path('app_groupe_desinscription', {'id': groupe.id}) }}">Se désinscrire</a>
{#            {% endif %}#}
        </div>

        {# <div id="publications">
            <h3>Publications du groupe :</h3>
            {% for publication in publications %}
                {% for key, img in publication.mediaPublication %}
                    {% if key == 0 %}
                        <a href="{{ path('app_show_media', { slug: img.slug }) }}">
                        <img class="card-img-top img-fluid" src="{{ asset('/uploads/' ~ img.lien) }}" alt="{{ img.titre }}"/></a>
                    {% endif %}
                {% endfor %}
                <p>De: {{ publication.user.nom }}</p>
                <p>Posté le : {{ publication.createdAt | date('Y/m/d H:s:i') }}</p>
                <h4>{{ publication.titre }}</h4>
                <p>{{ publication.contenu }}</p>
            {% endfor %}
        </div>

        {% if is_granted('ROLE_SUPER_ADMIN') or groupe.user == app.user %}
            <a href="{{ path('app_groupe_edit', {slug: groupe.slug}) }}">Modifier le groupe</a> <a href="{{ path('app_groupe_delete', {slug: groupe.slug}) }}">Supprimer le groupe</a>
        {% elseif app.user in groupe.adherentsGroupe %}
        <a href="{{ path('app_groupe_desinscription', {id: groupe.id}) }}">Se désinscrire</a>
        {% endif %} #}

        <div >
            {% for publication in publications %}
                <div class="publication-card">
                    <div class="user-publication">
                        <div class="user-publication-left-side">
                            <div class="futur-pp"></div>
                            <div class="infos-user-publication">
                                {% if publication.user is null %}

                                <p>Utilisateur supprimé</p>
                                <p>Posté le :
                                    {{publication.createdAt | date('d/m/Y à H:i')}}</p>
                                {% if (publication.editedAt | date('d/m/Y à H:i') >
                                    publication.createdAt | date('d/m/Y à H:i')) and (app.user) %}
                                    <p>
                                        Modifié le :
                                        {{publication.editedAt | date('d/m/Y à H:i')
                                        }}<small>
                                            Par
                                            Utilisateur supprimé</small>
                                    </p>
                                {% endif %}

                                {% else %}

                                <p>{{ publication.user.nom }}
                                    {{ publication.user.prenom }}</p>
                                <p>Posté le :
                                    {{publication.createdAt | date('d/m/Y à H:i')}}</p>
                                {% if (publication.editedAt | date('d/m/Y à H:i') >
                                    publication.createdAt | date('d/m/Y à H:i')) and (app.user) %}
                                    <p>
                                        Modifié le :
                                        {{publication.editedAt | date('d/m/Y à H:i')
                                        }}<small>
                                            Par
                                            {{ app.user.nom }}
                                            {{ app.user.prenom }}</small>
                                    </p>
                                {% endif %}

                                {% endif %}
                            </div>
                        </div>
                        <div class="menu-publication">
                            <div class="modal-menu-publication" id="publication-modal">
                                {% if publication.user is not null %}
                                <ul>
                                    {% if app.user.id is same as publication.user.id  %}
                                        <a class="edit-publication-btn" href="{{ path('app_publication_edit', { id: publication.id, slug: publication.slug }) }}">Modifier</a>
                                        <a class="delete-publication-btn" href="{{ path('app_publication_delete', { id: publication.id, slug: publication.slug }) }}">Supprimer</a>
                                    {% endif %}
                                </ul>
                                {% endif %}
                            </div>  
{#                            <i class="fas fa-ellipsis-v" data-modal="{{publication.id}}"></i>#}
                        </div>
                    </div>
                    <h2>
                        <a href="{{ path('app_publication_show', { id: publication.id, slug: publication.slug }) }}">{{ publication.titre }}</a>
                    </h2>
                    {% for key, img in publication.mediaPublication %}
                        {% if key == 0 %}
                            <a href="{{ path('app_show_media', { slug: img.slug }) }}">
                                <img class="card-img-top img-fluid" src="{{ asset('/uploads/' ~ img.lien) }}" alt="{{ img.titre }}"/></a>
                        {% endif %}
                    {% endfor %}
                    <div>{{ publication.contenu }}</div>
                    
                    {% include '/publication/reaction.html.twig' %}


                </div>
            {% endfor %}
        </div>

    </section>

{#{% include '_layout/_desktop/tchat.html.twig' %}#}
</main>

{% endblock %}
