{% extends 'base.html.twig' %}
{% block title %}Article :
	{{publication.titre}}
{% endblock %}
{% block container %}
	<div class="container my-3">
		<div class="row">
      {% for img in publication.mediaPublication %}
      <a href="{{ path('app_show_media', {'slug': img.slug}) }}">
     <img class="card-img-top" src="{{img.lien}}" alt="{{img.titre}}"></a>
      {% endfor %}
    {% include 'publication/_card.html.twig' %}
    <div class="d-flex flex-row-reverse my-3">
    <a class="btn btn-warning mt-1 ml-1" href="{{ path('app_publication_edit', {id: publication.id, slug: publication.slug}) }}">Modifier la publication</a>
	<a class="btn btn-danger mt-1 mr-1" href="{{ path('app_publication_delete', {id: publication.id, slug: publication.slug})}}">Supprimer la publication</a></div>
		</div>
		</div>
	</div>

  <div>
    <div>
      <h2>Commentaires</h2>
        {% for commentaire in publication.commentaires %}
          {% if commentaire.parent == null %}
              <strong>Publié par : {{commentaire.user}} le {{ commentaire.createdAt | date('d/m/Y H:i')}}</strong>
              <p>{{ commentaire.contenu }}</p>
              <p><a href="#commentaire_contenu" data-reply data-id="{{commentaire.id}}">Répondre</a></p>
              {# affichage réponse #}
              {% for reponse in commentaire.reponse %}
                <strong>Réponse de : {{reponse.user}} le {{ reponse.createdAt | date('d/m/Y H:i')}}</strong>
                <p>{{ reponse.contenu }}</p>
              {% endfor %}
              <hr>
          {% endif %}
        {% endfor %}
    </div>
    <div id="ajout-com">
      <h2>Ajouter un commentaire</h2>
      {{form(formCommentaire)}}
    </div>
  </div>
  {% for tag in publication.tagsPublication %}
      {{ tag.intitule }}
  {% endfor %}

  {% block javascript %}
    <script>
      window.onload = () => {
        document.querySelector(".card-title").value = "{{ publication.titre }}"

        document.querySelectorAll("[data-reply]").forEach(element => {
          element.addEventListener("click", function(){
            document.querySelector("#commentaire_parentId").value = this.dataset.id

          })
        })
      }
    </script>
  {% endblock %}
{% endblock %}
