{% extends 'base.html.twig' %} 
{% block title %}Article : {{publication.titre}}  {% endblock %} 
{% block container %}
<div class="container my-3">
  <div class="row">
    <h1>{{publication.titre}}</h1>
    <p>{{publication.contenu}}</p>
    <p>{{publication.user.nom}} {{publication.user.prenom}}<span>Posté le : {{publication.createdAt | date('d/m/Y H:m')}}</span></p>
</div>
</div>
{% endblock %}