<div>
    <p>{{publication.user.nom}} {{publication.user.prenom}}</p>
    <h2>{{publication.titre}}</h2>
    <p>{{publication.contenu}}</p>
    <p>Posté le : {{publication.createdAt | date('Y/m/d')}}</p>
</div>