{% if users is defined %}
	{% for user in users %}
		{% if app.user.id is same as(user.id) %}
			<div id="profils">
			{% if user.myProfil %}
				<h5 id="nom_profil">{{ user.nom }} {{ user.prenom }} {{user.myProfil.age}} ans</h5>
			<span>{{user.myProfil.job}}</span>
				<div>
					<p>{{user.myProfil.biographie}}</p>
				</div>
				{% else %}
					<span>Modifier votre profil pour permettre à vous amis de mieux vous connaitre!</span>
			{% endif %}
			
				<div class="buttons d-flex flex-row-reverse m-2">
					<a id="modifie_profil" href="{{path('modif_pass', {slug: user.slug, id: user.id})}}" class="btn btn-outline-primary btns px-4">Modifier Profil</a>
				</div>
			</div>
		{% endif %}
	{% endfor %}
{% else %}
    {% for user in userProfil %}
		<div id="profils">
			<h5 id="nom_profil">{{ user.nom }}</h5>
			<span>{{user.job}} {{user.age}} ans</span>
			<div>
				<p>{{user.bio}}</p>
			</div>
        </div>
    {% endfor %}
{% endif %}
