{% if users is defined %}
	{% for user in users %}
		{% if app.user.id is same as(user.id) %}

			<div class="profils">
				{# <h6 id="nom_profil">{{user.myProfil.age}} ans</h6> #}
				{# <span>Profession : {{user.myProfil.job}}</span> #}
				{# <div class="buttons d-flex flex-row-reverse m-2">
								        
								        
											<div id="profils">
												{% if user.myProfil %}
												{% set difference = date("now").diff(date(user.myProfil.age)) %}
												<h5 id="nom_profil">{{ user.nom }} {{ user.prenom }} {{difference.y}} ans</h5>
											<span>{{user.myProfil.job}}</span>
												<div>
													<p>{{user.myProfil.biographie}}</p>
												</div>
												{% else %}
													<span>Modifier votre profil pour permettre à vous amis de mieux vous connaitre!</span>
											{% endif %}
											
												<div class="buttons d-flex flex-row-reverse m-2">
								        
								        
								        
								        
								<a id="modifie_profil" href="{{path('modif_pass', {slug: user.slug, id: user.id})}}" class="btn btn-outline-primary btns px-4">Modifier Profil</a>
												</div> #}

					{% if user.myProfil %}
					{# {% set difference = date("now").diff(date(user.myProfil.age)) %}<h6 class="" id="nom_profil"> Age :
						{{difference.y}}
						ans</h6>
					<h6 class="">Métier :
						{{user.myProfil.job}}</h6> #}
					<h6>Biographie :
					</h6>
					<div class="bio-div">
						<p>{{user.myProfil.biographie}}</p>
					</div>
				{% else %}
					<span>Modifier votre profil pour permettre à vous amis de mieux vous connaitre! 
					<a class="my-2" href="{{path('modif_pass', {slug: user.slug, id: user.id})}}">
					<br>Par ici <i class="fa-solid fa-computer-mouse"></i></a>
					</span>
				{% endif %}
			</div>
		{% endif %}
	{% endfor %}

{% else %}

	{% for user in userProfil %}
		<div class="profils">
			{% set difference = date("now").diff(date(user.age)) %}
			{#<span>{{user.job}} {{difference.y}} ans</span>
									 <span>{{user.job}} {{user.age}} ans</span> #}
			<h6>Biographie</h6>
			<div class="bio-div">
				<p>{{user.bio}}</p>
			</div>
		</div>
	{% endfor %}
{% endif %}
