{% for event in evenementsUser %}
                <div class="evenement-card">
                    <div>
                        {% for key, img in event.mediaEvenement %}
                            {% if key == 0 %}
                                <a href="{{ path('app_show_media', { slug: img.slug }) }}">
                                    <img class="card-img-top img-fluid" src="{{ asset('/uploads/' ~ img.lien) }}" alt="{{ img.titre }}"/></a>
                            {% endif %}
                        {% endfor %}
                        <p>Créer Par: {{event.user.nom}} {{event.user.prenom}}</p>
                        <p>Posté le : {{event.createdAt | date('Y/m/d')}}</p>
                            <h2><a class="evenement-title" href="{{ path('app_evenement_show', {slug: event.slug, id: event.id}) }}">{{event.intitule}}</a></h2>
                        <div class="event-text">
                            <p>{{event.description}}</p>
                            <a class="bouton blue-ground" href="{{ path('app_evenement_show', {slug: event.slug, id: event.id}) }}">En savoir plus</a>
                        </div>
                    </div>
                </div>
{% endfor %}
