{% extends 'base.html.twig' %}

{% block title %}Evénements{% endblock %}

{% block container %}


    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    </style>


<div class="evenement-wrapper-mobile">
    {% include '_layout/_mobileNavBar.html.twig' %}

    <div class="example-wrapper">
        {% for event in peRepo %}
            <div>
                {# <p>{{event.user.nom}} {{event.user.prenom}}</p> #}
                <p>Posté le : {{event.evenement.createdAt | date('Y/m/d')}}</p>
                <p>Début : {{ event.startAt | date('Y/m/d H:m') }}</p>
                <p>Fin : {{ event.endAt | date('Y/m/d H:m') }}</p>
                <p>Lieu de l'évènement : {{ event.lieu }}</p>
                <h2><a href="{{ path('app_evenement_show', {slug: event.evenement.slug, id: event.evenement.id}) }}">{{event.evenement.intitule}}</a></h2>
                <p>{{event.evenement.description}}</p>

                {# <a href="{{ path('app_evenement_edit', {id: event.id}) }}">Modifier l'évènement</a> <a href="{{ path('app_evenement_delete', {id: event.id}) }}">Supprimer l'évènement</a> #}

                <p>Posté le : {{event.evenement.createdAt | date('Y/m/d')}}</p>
                <p>Nombre de participants : {{event.inscritEvenement | length}}</p>
                <a href="{{ path('app_evenement_edit', {slug: event.evenement.slug}) }}">Modifier l'évènement</a>
                <a href="{{ path('app_evenement_delete', {slug: event.evenement.slug}) }}">Supprimer l'évènement</a>
                <a href="{{ path('app_inscription_evenement_add', {id: event.id}) }}" class="btn btn-primary">S'inscrire</a>
                <a href="{{ path('app_inscription_evenement_remove', {id: event.id}) }}" class="btn btn-danger">Désinscrire</a>
            </div>
            <hr>
        {% endfor %}
    </div>

    {% include '_layout/_mobileFooter.html.twig' %}
</div>


<div class="evenement-wrapper-desktop">
    {% include '_layout/_desktop/nav.html.twig' %}
    <div class="header-margin"></div>

    <main class="main-evenement">
    {% include '_layout/_desktop/sideNav.html.twig' %}
        <div class="example-wrapper">
            {% for event in peRepo %}
                <div>
{#                     <p>{{event.user.nom}} {{event.user.prenom}}</p>#}
                    <p>Posté le : {{event.evenement.createdAt | date('Y/m/d')}}</p>
                    <p>Début : {{ event.startAt | date('Y/m/d H:m') }}</p>
                    <p>Fin : {{ event.endAt | date('Y/m/d H:m') }}</p>
                    <p>Lieu de l'évènement : {{ event.lieu }}</p>
                    <h2><a href="{{ path('app_evenement_show', {slug: event.evenement.slug, id: event.evenement.id}) }}">{{event.evenement.intitule}}</a></h2>
                    <p>{{event.evenement.description}}</p>

{#                     <a href="{{ path('app_evenement_edit', {id: event.id}) }}">Modifier l'évènement</a> <a href="{{ path('app_evenement_delete', {id: event.id}) }}">Supprimer l'évènement</a>#}

                    <p>Posté le : {{event.evenement.createdAt | date('Y/m/d')}}</p>
                    <p>Nombre de participants : {{event.inscritEvenement | length}}</p>
                    <a href="{{ path('app_evenement_edit', {slug: event.evenement.slug}) }}">Modifier l'évènement</a>
                    <a href="{{ path('app_evenement_delete', {slug: event.evenement.slug}) }}">Supprimer l'évènement</a>
                    <a href="{{ path('app_inscription_evenement_add', {id: event.id}) }}" class="btn btn-primary">S'inscrire</a>
                    <a href="{{ path('app_inscription_evenement_remove', {id: event.id}) }}" class="btn btn-danger">Désinscrire</a>
                </div>
                <hr>
            {% endfor %}
        </div>
    {% include '_layout/_desktop/tchat.html.twig' %}
    </main>
</div>

{% endblock %}
