{% extends 'base.html.twig' %}

{% block title %}Hello PublicationController!{% endblock %}

{% block container %}
    {% include '_layout/_mobile_nav_bar.html.twig' %}

    <div class="example-wrapper">
        {% for event in evenements %}
            <div></div>
            <div>
                {# <p>{{event.user.nom}} {{event.user.prenom}}</p> #}
                <p>Posté le : {{event.createdAt | date('Y/m/d')}}</p>
                <h2><a href="{{ path('app_evenement_show', {slug: event.slug}) }}">{{event.intitule}}</a></h2>
                <p>{{event.description}}</p>
                {# <a href="{{ path('app_evenement_edit', {id: event.id}) }}">Modifier l'évènement</a> <a href="{{ path('app_evenement_delete', {id: event.id}) }}">Supprimer l'évènement</a> #}
            </div>
            <hr>
        {% endfor %}
    </div>

    {% include '_layout/_mobileFooter.html.twig' %}
{% endblock %}
