<div>
    <p>{{evenement.user.nom}} {{evenement.user.prenom}}</p>
    <h2>{{evenement.titre}}</h2>
    <p>{{evenement.contenu}}</p>
    <p>Posté le : {{evenement.createdAt | date('Y/m/d')}}</p>
</div>